
<form action="/tasks/{{task._id}}/edit" method="post">

    <input type="text" name="title" placeholder="Title" value="{{task.title}}">

    <textarea 
    name="description"
    cols="3" 
    placeholder="Add description"
    
    >{{task.description}}</textarea>

    <button>Update</button>

</form>

