
<!-- Start Landing Page -->
<link rel="stylesheet" href="css/home.css">
<div class="landing-page">
  <div class="container">
    <div class="info">
      <h1>Control your time</h1>
      <p>Create tasks for each of your daily needs</p>
      <a href="/tasks"><button>Create a new tasks</button></a>
    </div>
    <div class="image">
      <img src="img/clock.jpg">
    </div>
    <div class="clearfix"></div>
  </div>
</div>   
<!-- End Landing Page -->