

<form action="/tasks/add" method="POST">

<div>
    <label for="title">Write a title</label>
    <input type="text" name="title" placeholder="tile" id="title">
</div>

<div>
    <label for="description">Write a description</label>
    <textarea name="description" id="description" placeholder="Description"></textarea>
</div>

<button>Add</button>

</form>

<ul>
    {{#each tasks}}
    <li>{{title}}
    <p>{{description}}</p>
    <button>Edit</button>
    <button>Delete</button>
    </li>
    {{/each}}
</ul>
