<body>
    <link rel="stylesheet" type="text/css" href="css/home.css">
    <div class="menu">
        <p class="lead">
            <a href="/tasks" class="btn btn-lg btn-default">Create a new Task</a>
        </p> 
    </div>
</body>